block variables

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		title #{title}
		meta(content="" name="author")
		meta(content="" name="description")
		meta(content="" name="keywords")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")

		link(rel='icon' href='favicon.ico')
		
		link(rel='stylesheet' href='/assets/css/foundation.css')
		link(rel='stylesheet' href='/assets/css/app.css')

		block styles

		
		block scripts
		script(src='/assets/js/menu.js' defer)
		script(src='/assets/js/scroll_parallax.js' defer)
		script(src='/assets/js/scrollByClick.js' defer)


		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->

	body

		.page-wrapper
			.fullscreen-menu
				ul.fullscreen-menu__list
					li.fullscreen-menu__item
						a.fullsreen-menu__link(href="my_works.html")
							.title.title_main Мои работы
					li.fullscreen-menu__item
						a.fullsreen-menu__link(href="blog.html")
							.title.title_main Блог
					li.fullscreen-menu__item
						a.fullsreen-menu__link(href="about_me.html")
							.title.title_main Обо мне
					li.fullscreen-menu__item
						a.fullsreen-menu__link(href="index.html")
							.title.title_main Авторизация
			header.header
				.transparent-layer
					.header-links
						ul.socials
							li.socials_item
								a.social-link(href="https://vk.com/id17323389" target="_blank")
									svg.social-icon.social-icon_white
										use(xlink:href="assets/img/sprite.svg#vk")
							li.socials_item
								a.social-link(href="https://github.com/VasiliuKr" target="_blank")
									svg.social-icon.social-icon_white
										use(xlink:href="assets/img/sprite.svg#github")
							li.socials_item
								a.social-link(href="https://www.linkedin.com/in/vasiliy-krasnov" target="_blank")
									svg.social-icon.social-icon_white
										use(xlink:href="assets/img/sprite.svg#in")
						a.menu-link(href="#")
							span.menu-link__line
					.user-avatar: img.user-pic(src="assets/img/userfiles/my_photo.jpg" alt='Василий Краснов')
					.author
						.author__name Василий Краснов
						.author__site Личный сайт веб-разработчика
					.transparent-title
						img(class="adaptive-pic" src="assets/img/portfolio_header.png")
					a.arrow-down-link(href="#")
						.arrow_down
							svg.social-icon.social-icon_white
								use(xlink:href="assets/img/sprite.svg#arrow_down")
			
			block content

		footer.footer
			.footer-links
				nav.nav-links
					a.nav-link(href="my_works.html") Мои работы
					a.nav-link(href="about_me.html") Обо мне
					a.nav-link(href="blog.html") Блог
					a.nav-link(href="index.html") Авторизация
				ul.round-socials
					li.round-sosials_item
						a.social-link(href="https://www.linkedin.com/in/vasiliy-krasnov" target="_blank")
							svg.social-icon.social-icon_white
								use(xlink:href="assets/img/sprite.svg#in_round")
					li.round-sosials_item
						a.social-link(href="https://github.com/VasiliuKr" target="_blank")
							svg.social-icon.social-icon_white
								use(xlink:href="assets/img/sprite.svg#github_round")
					li.round-sosials_item
						a.social-link(href="https://vk.com/id17323389" target="_blank")
							svg.social-icon.social-icon_white
								use(xlink:href="assets/img/sprite.svg#vk_round")
			.footer-text_wrapper
				.footer-text 
					i "Не стыдись учиться в зрелом возрасте: лучше научиться поздно, чем никогда" &nbsp;
					span - Эзоп
				.copyright © Василий Краснов | Made with love in Loftschool | 2016
		
		.preloader
			.preloader__spinner
				.preloader__animation
				.preloader__percents 0%
			
		script(src='/assets/js/foundation.js')
		script(src='/assets/js/preloader.js')
						
