@import '../helpers/variables';
@import '../helpers/mixins';


.header-links {
	margin-bottom: 10px;
	@include phones {
		margin-bottom: 70px;
	}
}
.author,
.header .transparent-title {
	display: none;
}
.arrow-down-link {
	display: none;
	@include tablets {
		display: block;
		margin-top: 190px;
	}
}
.page-wrapper {
	@include tablets {
		margin-bottom: -150px;
	}
}
.title-wrapper {
	position: relative;
	top: 300px;
	.title {
		color: #fff;
		&:before,
		&:after {
			background: #fff;
			opacity: 0.5;
		}
	}
	.transparent-title {
		margin-top: -115px;
	}
	@include tablets {
		
		margin-bottom: 110px;
	}
}
.subheading {
	color: #fff;
}
.main-content {
	top: 420px;
	@include tablets {
		top: 265px;
	}
}
.triangle {
	margin-top: -150px;
	height: 150px;
	background-image: url(../img/bg_white.png);
	@include desktop {
		margin-top: -180px;
		height: 200px;
	}
	@include tablets {
		margin-top: -70px;
		height: 90px;
	}
	@include phones {
		margin-top: -55px;
		height: 60px;
	}
}
.container {
	@extend %clearfix;
}
.sidebar {
	float: left;
	width: 30%;
	text-align: right;
	margin-top: 22px;
	line-height: 26px;
	margin-right: 8.5%;
	@include desktop {
		width: 22%;
		margin-right: 6.5%;
	}
	@include tablets {
		position: fixed;
		float: none;
		top: 0;
		left: -60%;
		bottom: 0;
		margin-top: 0;
		width: 60%;
		height: 100%;
		padding-top: 80px;
		text-align: left;
		background-color: $main-color;
		transition: all .3s;
	}
	@include phones {
		width: 80%;
		left: -80%;
	}
}
.sidebar_active {
	left: 0%;
	color: rgba(255,255,255,.7);
}
.fixed {
	position: fixed;
	top: 0;
	width: 30%;
	@include desktop {
		width: 22%;
	}
	@include tablets {
		position: relative;
		width: 100%;
	}
}
.sidebar-toggle {
	position: absolute;
	top: 40%;
	right: -30px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: $main-color;
	border: none;
	outline: none;
	cursor: pointer;
	z-index: -1;
	display: none;
	@include tablets {
		display: block;
	}
}
.sidebar-toggle__arrow {
	position: absolute;
	width: 25px;
	height: 30px;
	top: 35%;
	left: 70%;
}
.sidebar-toggle__arrow_right {
	transform: rotate(270deg);
}
.sidebar-toggle__arrow_left {
	transform: rotate(90deg);
}
.sidebar__link {
	padding-bottom: 13px;
	padding-top: 13px;
	padding-right: 20px;
	display: block;
	font-weight: 500;
	&:hover {
		color: $main-color;
	}
	&.sidebar__link_active {
		color: $main-color;
		border-right: 2px solid $main-color;
		margin-right: -2px;
	}
	@include tablets {
		color: rgba(255, 255, 255, 0.7);
		&:hover {
			color: rgba(255, 255, 255, 1);
		}
		&.sidebar__link_active {
			color: rgba(255, 255, 255, 1);
			border-right: none;
			margin-right: 0;
		}
	}
}

.articles {
	float: left;
	width: 58%;
	@include desktop {
		width: 50%;
	}
	@include tablets {
		width: 100%;
		padding-left: 25px;
		padding-right: 25px;
	}
}
.articles__list {
	padding-left: 0;
}
.articles__item {
	padding-bottom: 60px;
	padding-top: 60px;
	border-top: 5px solid rgba(69,90,100, 0.07);
}
.articles__item {
	&:first-child {
		padding-top: 18px;
		border-top: none;
	}
}
.article-title {
	font: 35px Bernier;
	margin-top: 0;
	margin-bottom: 19px;
	@include tablets {
		font-size: 30px;
	}
}
.article-time {
	color: $main-color;
	@include tablets {
		font-size: 14px;
		line-height: 24px;
	}
}
.article {
	line-height: 26px;
	@include tablets {
		font-size: 14px;
		line-height: 24px;
	}
}
.article-image {
	width: 100%;
}
.footer {
	position: relative;
	top: 420px;
	background: rgba(69, 90, 100, 1);
	@include tablets {
		top: 265px;
	}
}