@import 'helpers/variables';
@import 'helpers/mixins';

* {
	box-sizing: border-box;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: inherit;
}
html, body {
	// height: 100%;
	font-family: Roboto;
	position: relative;
}
.social-icon {
	width: 100%;
	height: 100%;
	opacity: 0.6;
	&:hover{
		opacity: 1;
	}
	&_white {
		fill: #fff;
	}
	&_green {
		fill: $main-color;
	}
}
.arrow_down {
	width: 26px;
	height: 16px;
	margin: 0 auto;
}
.arrow_up {
	width: 26px;
	height: 16px;
	margin: 0 auto;
	transform: rotate(180deg);
}
.link-icon {
	width: 20px;
	height: 20px;
	fill: #fff;
	vertical-align: middle;
}
.contact-icon {
	width: 24px;
	height: 24px;
	fill: $main-color;
	vertical-align: middle;
}
.page-wrapper {
	min-height: 100%;
	margin-bottom: -150px; // Равно высоте футера
	@include tablets {
		margin-bottom: -225px;
	}
	@include phones {
		margin-bottom: -246px;
	}
	&:after {
		content: '';
		display: block;
		height: 150px;
	}
}
.transparent-title {
	opacity: 0.07;
	text-align: center;
}
.main-content {
	@extend %clearfix;
	background: #fff;
	position: relative;
	top: 620px;
	@include tablets {
		top: 560px;
	}
}
.triangle {
	background: url('../img/bg.png');
	height: 122px;
	margin-top: -122px;
	background-size: 100%;
	background-repeat: no-repeat;
	@include desktop {
		height: 180px;
		margin-top: -180px;
	}
	@include tablets {
		height: 65px;
		margin-top: -65px;
	}
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	@extend %clearfix;
	@include desktop {
		max-width: 1800px;
	}
}
.text-link {
	color: $main-color;
	text-decoration: underline;
	&:hover {
		color: $main-color-active;
	}
}
.title-wrapper {
	text-align: center;
}
.left-column {
	width: 50%;
	float: left;
	.column-container {
		padding-left: 80px;
		padding-right: 77px;
	}
	@include tablets {
		width: 100%;
		.column-container {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}
.right-column {
	width: 50%;
	float: right;
	.column-container {
		padding-left: 39px;
		padding-right: 10px;
	}
	@include tablets {
		width: 100%;
		.column-container {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}
.column-container {
	padding-top: 110px;
	padding-bottom: 20px;
	text-align: center;
}
.adaptive-pic {
	max-width: 100%;
}
.title {
	font-family: Bernier;
	position: relative;
	display: inline-block;
	&:after {
		content: "";
		width: 22px;
		height: 5px;
		background: #000;
		opacity: 0.2;
		position: absolute;
		right: -40px;
		top: 50%;
	}
	&:before {
		content: "";
		width: 22px;
		height: 5px;
		background: #000;
		opacity: 0.2;
		position: absolute;
		left: -45px;
		top: 50%;
	}
}
.title_main {
	font-size: 63px;
	line-height: 66px;
	max-width: 300px;
	@include tablets {
		font-size: 49px;
		max-width: 70%;
	}
	@include phones {
		font-size: 35px;
	}
}
.title_secondary {
	font-size: 35px;
	line-height: 41px;
	max-width: 270px;
	@include tablets {
		font-size: 30px;
		max-width: 70%;
	}
	@include phones {
		font-size: 21px;
		max-width: 150px;
	}
}
.form {
	padding-top: 30px;
	@extend %clearfix;
}
.form__input {
	display: block;
	border: none;
	border-radius: 4px;
	padding: 13px 20px;
	color: #373e42;
	resize: none;
	width: 100%;
	&:focus {
		border: 1px solid $main-color;
		outline: none;
	}
	@include tablets {
		font-size: 14px;
	}
}
.fullscreen-menu {
	height: 100%;
	width: 100%;
	display: none;
	background-color: rgba($main-color, 0.9);
	top: 70px;
	z-index: 15;
	position: fixed;
	@include phones {
		top: 50px;
	}
}
.close-btn {
	height: 36px;
	width: 36px;
	position: absolute;
	right: 31px;
	top: 28px;
	background: url(../img/close.png);
	&:hover {
		background: url(../img/close_hover.png);
	}
	@include phones {
		right: 12px;
		top: 10px;
	}
}
.fullscreen-menu__list {
	padding-left: 0;
	text-align: center;
}
.fullscreen-menu__item {
	
	margin-bottom: 50px;
}
.fullsreen-menu__link {
	color: rgba(#fff, 0.6);
	.title:before {
		background-color: #fff;
	}
	.title:after {
		background-color: #fff;
	}
	&:hover, &.active {
		color: #fff;
		.title:before {
			opacity: 1;
		}
		.title:after {
			opacity: 1;
		}
	}
}

.preloader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background: $main-color;
	display: none;
}
.preloader__spinner {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.preloader__animation {
	width: 150px;
	height: 150px;
	position: relative;
	/* создаем верхнюю дугу */
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #fff;
	/* запуск анимации */
	animation: spin 1s linear infinite;
	/* создаем еще 2 дуги поменьше через псеводоэлементы */
	&:before, &:after {
		content: '';
		position: absolute;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #fff;
	}
	&:before {
		top: 5px;
		right: 5px;
		bottom: 5px;
		left: 5px;
		animation: spin 2s linear infinite;
	}
	&:after {
		top: 15px;
		right: 15px;
		bottom: 15px;
		left: 15px;
		animation: spin 3s linear infinite;
	}
}

/* создаем анимацию */

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.preloader__percents {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

@import 'layout/header';



@import 'layout/footer';
@import 'common/sprites';
@import 'common/fonts';
@import 'common/tooltips';