extends ../_template

block variables
	- var title = 'Обо мне'

block styles
	link(rel='stylesheet' href='/assets/css/about_me.css')

block scripts
	script(src='/assets/js/googleMaps.js')
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCPU6pqrmnRz-clxSj_KIs0SwOcXWSjfQQ&callback=initMap' async defer)
	script(src='/assets/js/jquery.knob.js' defer)
	script(src='/assets/js/skills.js' defer)

block content
	.main-content
		.triangle
		.container
			.left-column
				.column-container
					.column-container-inner
						.title.title_main Oбо мне
						.transparent-title
							img(class="adaptive-pic" src="assets/img/about_header.png")
					.column-container-inner
						.photo-wrapper
							img(class="adaptive-pic" src="assets/img/userfiles/my_photo.jpg" alt="Василий Краснов")
						.title.title_secondary Кто я
						.author-info
							p.author-info__text Я живу в г. Чебоксары. Мне 30 лет. И я ...(нет, не алкоголик) frontend-разработчик. Мне нравится создавать современные сайты со всеми их красивостями и фишками.
							p.author-info__text Помимо веб-технологий в мои увлечения входит: чтение художественной литературы (абсолютно разные жанры), изучение английского языка - качаю эльфа 80-го лвл на <a href="https://puzzle-english.com/p/2118204"> Puzzle English </a>. Бывает, грешу просмотром сериалов (ну а куда без них). Чтобы как-то приводить себя в тонус, практикую пробежки по городу (могу, умею). Также всегда рад сыграть в шахматы или настольный теннис.
							p.author-info__text Этот сайт я сделал в рамках обучения в Школе онлайн-образования LoftSchool. На мой взгляд, он еще далек от совершенства (скажу по секрету, у меня есть целый список того, что надо еще добавить или исправить). Буду работать над этим.
							
			.right-column
				.column-container
					.title.title_secondary Чем я могу быть вам полезен
					.skills
						.skills__text Больше всего меня привлекает Frontend-разработка. Семантичная верстка, анимации, адаптивность (как с Bootstrap, так и без) и прочее. С backend похуже, но несложные задачи решить могу. Подтягиваю знания по мере возможности. В работе пользуюсь Sublime Text 3, Gulp 4, Pug, Sass. Есть опыт командной работы на Github.
						.skills__title Frontend
						ul.skills__list
							li.skills__item
								input(type="text" value="90" class='dial')
								span.dial-text HTML5 & CSS3
							li.skills__item
								input(type="text" value="50" class='dial')
								span.dial-text JavaScript & jQuery
							li.skills__item
								input(type="text" value="70" class='dial')
								span.dial-text Pug (ex-Jade)
							li.skills__item
								input(type="text" value="70" class='dial')
								span.dial-text SASS
						.skills__title Backend
						ul.skills__list
							li.skills__item
								input(type="text" value="20" class='dial')
								span.dial-text PHP
							li.skills__item
								input(type="text" value="20" class='dial')
								span.dial-text mySQL
							li.skills__item
								input(type="text" value="20" class='dial')
								span.dial-text Node.js & npm
							li.skills__item
								input(type="text" value="20" class='dial')
								span.dial-text Mongo.db
						.skills__title Workflow
						ul.skills__list
							li.skills__item
								input(type="text" value="60" class='dial')
								span.dial-text Git
							li.skills__item
								input(type="text" value="70" class='dial')
								span.dial-text Gulp
							li.skills__item
								input(type="text" value="70" class='dial')
								span.dial-text Bower
	.contacts-wrapper
		#myGoogleMap.map-container
		.contacts
			.title.title_secondary Контакты
			ul.contacts__list
				li.contacts__item
					a(class="contacts__link" href="skype:vaso.lol?call")
						i.icon.icon-skype
					span.contacts__text vaso.lol
				li.contacts__item
					a(class="contacts__link" href="mailto:vasiliy.crasnov@yandex.ru")
						i.icon.icon-envelope
					span.contacts__text vasil.crasnov@yandex.ru
				li.contacts__item
					a(class="contacts__link" href="skype:+79051979764?call")
						i.icon.icon-phone
					span.contacts__text +7 905 197 97 64
				li.contacts__item
					a(class="contacts__link" href="#")
						i.icon.icon-map_marker
					span.contacts__text г.Чебоксары, ул. Гагарина, д. 23

