extends ../_template

block variables
	- var title = 'Обо мне'

block styles
	link(rel='stylesheet' href='/assets/css/about_me.css')

block scripts


block content
	.main-content
		.triangle
		.left-column
			.column-container
				.title.title_main Oбо мне
				.transparent-title
					img(class="adaptive-pic" src="assets/img/about_header.png")
				.photo-wrapper
					img(class="adaptive-pic" src="assets/img/photo_large.jpg")
				.title.title_secondary Кто я
				.author-info
					p.author-info__text Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой
						| современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
					p.author-info__text Это сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
						| Чуть позже я овежу в нем свой контент. А пока посмотрите, как тут все классно и красиво.
		.right-column
			.column-container
				.title.title_secondary Чем я могу быть вам полезен
				.skills
					.skills__text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать несложные задачи на Backend. Но давайте по порядку.
					.skills__title Frontend
					ul.skills__list
						li.skills__item
							img(class="skills__pic" src="assets/img/diagram.png")
						li.skills__item
							img(class="skills__pic" src="assets/img/diagram.png")
						li.skills__item
							img(class="skills__pic" src="assets/img/diagram.png")
					.skills__title Backend
					ul.skills__list
						li.skills__item
							img(class="skills__pic" src="assets/img/diagram.png")
						li.skills__item
							img(class="skills__pic" src="assets/img/diagram.png")
						li.skills__item
							img(class="skills__pic" src="assets/img/diagram.png")
						li.skills__item
							img(class="skills__pic" src="assets/img/diagram.png")
					.skills__title Workflow
					ul.skills__list
						li.skills__item
							img(class="skills__pic" src="assets/img/diagram.png")
						li.skills__item
							img(class="skills__pic" src="assets/img/diagram.png")
						li.skills__item
							img(class="skills__pic" src="assets/img/diagram.png")
	.contacts-wrapper
		.contacts
			.title.title_secondary Контакты
			ul.contacts__list
				li.contacts__item
					a(class="contacts__link" href="#")
						i.icon.icon-skype
					span.contacts__text skype_kdn
				li.contacts__item
					a(class="contacts__link" href="#")
						i.icon.icon-envelope
					span.contacts__text astahov@gmail.com
				li.contacts__item
					a(class="contacts__link" href="#")
						i.icon.icon-phone
					span.contacts__text +7 931 200 93 24
				li.contacts__item
					a(class="contacts__link" href="#")
						i.icon.icon-map_marker
					span.contacts__text г.Новосибирск, ул. Инская, д. 5

