extends ../_template

block variables
	- var title = 'Блог'

block styles
	link(rel='stylesheet' href='/assets/css/blog.css')

block scripts
	script(src='/assets/js/sidebar.js' defer)

block content
	.title-wrapper
		.title.title_main Блог
		.subheading Статьи, которые я написал
		.transparent-title
			img(class="adaptive-pic" src="assets/img/blog_header.png")
	.main-content
		.triangle
		.container
			aside.sidebar
				button.sidebar-toggle
					span.sidebar-toggle__arrow.sidebar-toggle__arrow_right
						svg.social-icon.social-icon_white
							use(xlink:href="assets/img/sprite.svg#arrow_down")
				ul.sidebar__list
					li.sidebar__item
						a.sidebar__link(href="#article_3") Курс по хардкору
					li.sidebar__item
						a.sidebar__link(href="#article_2") Веб-разработчик: Начало
					li.sidebar__item
						a.sidebar__link(href="#article_1") Первый выпускной проект
			section.articles
				ul.articles__list
					
					li.articles__item: a(name="article_3")
						h2.article-title Курс по хардкору
						time.article-time 18 ноября 2016
						article.article
							p.article-text "Продвинутый курс по веб-разработке" от <a href="https://loftschool.com" target='_blank' class="text-link"> Loftschool </a> иначе и не назовешь. 2 месяца интенсива, 2 сложных проекта, куча выданных методичек, трехчасовые вебинары, еженедельные дедлайны, групповые созвоны, личные созвоны с наставником, постоянные вопросы-ответы в групповом Slack-чате и многое другое - это тот еще хардкор. Однозначно советую всем начинающим веб-разработчикам присмотреться к курсам данной школы (помимо данного курса есть целый ряд других: для начинающих, по PHP, по Javascript и др.). Вообще, одним из главных плюсов обучения на курсе является то, что вы сразу окажетесь в среде людей, двигающихся с вами в одном направлении, на одной волне. И это может внести неоценимый вклад в развитие вашей профессиональной карьеры, особенно если вы еще не работаете в IT-компании, и у вас нет коллег, друзей, знакомых, занятых в веб-разработке. А плюсов обучения именно на курсах Loftschool еще больше, не буду рекламировать, лучше вам зайти на их сайт, группу Вконтакте и оценить самим.
							p.article-text Итак, 11 ноября прошел разбор работ по второму командному проекту. Сервис "Фотокнига" (аналог Инстаграма) оказался довольно сложным и насыщенным, особенно на стороне бэкенда. Регистрация и авторизация пользователя, добавление, редактирование и удаление альбомов, фотографий, редактирование профиля пользователя, лайки, комментарии, поиск по хэштегам и прочие фишки - все это предлагалось реализовать за 3 недели. Как должен был выглядеть сайт, можно посмотреть <a href="https://www.youtube.com/watch?v=J3hPOaWZcmE" target='_blank' class="text-link"> здесь </a>.
							p.article-text Изначально наша команда состояла из трех человек, затем добавились еще два, но заканчивали уже вчетвером. Бэкенд-часть реализовывали на Node.js и MongoDB, вещи для меня абсолютно новые до этого проекта. Созванивались через день в скайпе, распределяли задачи, пушили на Гитхаб, решали конфликты при слиянии веток - в общем, веселые были деньки. Ну а вот наш <a href="https://github.com/matyuschenko/ls-vp2-gr6" target='_blank' class="text-link"> командный репозиторий </a>. К сожалению, не весь функционал сайта успели реализовать, но необходимую часть для защиты проекта выполнили.
							p.article-text 16 ноября - завершение курса, выдача дипломов, заполнение анкет для работодателей, добавление в закрытый Slack-чат выпускников Loftschool, что может быть приятней для подведения результата двухмесячного обучения. Наверное только оценка А в дипломе (отлично). Честно говоря, во время записи на курс ставил себе цель получить диплом с отличием, но к середине курса начал думать, что вытяну только на диплом категории B (хорошо). Тем не менее, цель выполнена, доказательство <a href="https://loftschool.com/certificate/UI8508632658" target='_blank' class="text-link"> тут </a>.
					li.articles__item: a(name="article_2")
						h2.article-title Веб-разработчик: Начало
						time.article-time 5 ноября 2016
						article.article
							p.article-text В этой статье я решил собрать некоторые из советов начинающим веб-разработчикам, которых я стараюсь придерживаться, а также немного поделиться своим опытом. Итак, почему же все-таки веб-разработка? Я получил специальность экономиста, 7 лет проработал бухгалтером в различных учреждениях, но данная профессия не дала мне того, что я наивно ожидал и то, что я увидел в сфере веб-разработки, а именно: увлекательную, интересную работу, практически безграничные перспективы для роста как профессиональных навыков и знаний, так и заработной платы. Сегодня, профессия веб-разработчика является одной из самых "горячих" и высокодоходных. На рынке труда не хватает специалистов и вряд ли в ближайшее время что-то изменится. Каждый день появляются тысячи сайтов, пишутся тонны строк кода, а так как сайт недостаточно просто создать, но его также надо и поддерживать, то работы всегда будет хватать.
							p.article-text Как же освоить столь желанную профессию? Ведь получить образование по данной специальности в университете практически негде из-за быстро меняющихся технологий, тенденций в мире веба. И тут на первое место выходит самообразование. Большинство веб-разработчиков самостоятельно осваивают необходимый материал через книги, обучающие сайты, видеоуроки, онлайн-курсы и т.д. Начинать обучение следует с трех "китов" веб-разработки: HTML, CSS и Javascript либо последовательно, либо параллельно. Я, например, в первую очередь прошел курс "Введение в стандарты Web" на сайте <a href='http://www.intuit.ru' target='_blank' class="text-link"> intuit.ru </a>. Это было не самое лучшее решение, материал там достаточно устаревший, но тем не менее с него начался мой путь веб-разработчика. Сейчас, по проишествии времени я могу посоветовать такие замечательные сайты, как <a href='http://codenamecrud.ru' target='_blank' class="text-link"> codenamecrud.ru </a>, <a href='https://htmlacademy.ru' target='_blank' class="text-link"> htmlacademy.ru </a>, <a href='https://www.codecademy.com' target='_blank' class="text-link"> www.codecademy.com </a>, <a href='https://www.freecodecamp.com' target='_blank' class="text-link"> www.freecodecamp.com </a>. Последние два англоязычные, и отсюда вытекает необходимость знания английского языка. Вообще, я считаю, что профессия веб-разработчика следующая в списке после переводчика, где нужен английский язык. Он нужен для чтения официальной документации, актуальных материалов, свежих статей, для общения с заказчиками, если вдруг вы решили работать на зарубежных фриланс-биржах, для общения с коллегами по команде, раскиданными по всему миру. Опять же существует множество ресурсов для изучения английского как с нуля, так и для среднего уровня. Я одно время качал львенка на <a href='http://lingualeo.com/ru/r/8hbo63' target='_blank' class="text-link"> lingualeo.com </a> - интересный мультимедийный ресурс, где можно читать тексты, смотреть видеоролики, слушать музыку, учить слова. Сейчас сижу на <a href="https://puzzle-english.com/p/2118204" target='_blank' class="text-link"> Puzzle English </a> - отличный ресурс для совершенствования понимания английской речи на слух. Решение видеопазлов, просмотр популярных сериалов с субтитрами в удобном онлайн-плеере, занимательные игры - в общем, затягивает, советую. Поставил себе даже мини-цель - попасть в топ-100 рейтинга, будет достаточно трудно, но возможно - сейчас занимаю 460-е место.
							p.article-text Помимо изучения непосредственно HTML, CSS, Javascript необходимо постоянно совершенствовать владение своими рабочими инструментами. Редакторы кода, среды разработки, работа в терминале, инструменты разработчика в браузерах, сборщики проектов, системы контроля версий, препроцессоры, постпроцессоры и вообще все, что только может автоматизировать вашу работу - здесь вас встретит океан инструментов на любой ваш вкус. Лично я на данный момент пользуюсь Sublime Text 3, Sass, Pug, Git, Gulp 4.
							p.article-text Онлайн-курсы. В интернете их много, по любым технологиям, платные и бесплатные, в различных форматах. После перелопачивания n-го их количества я остановился на "Продвинутом курсе по веб-разработке" от <a href="https://loftschool.com" target='_blank' class="text-link"> Loftschool </a>. Сразу скажу, курс очень интенсивный и расчитан на разработчиков с опытом. За 2 месяца дается гора материала, выполняются 2 сложных проекта. Но о нем расскажу в одной из следующих статей.
					li.articles__item: a(name="article_1")
						h2.article-title Первый выпускной проект
						time.article-time 25 октября 2016
						article.article
							p.article-text Сайт, на котором вы сейчас находитесь, является моим первым выпускным проектом на "Продвинутом курсе по веб-разработке" школы Loftschool. Пока он далеко не конфетка (есть, что добавить и поменять), но требованиям ТЗ для допуска ко второму проекту удовлетворяет.
							p.article-text Итак, 21 октября состоялся вебинар "Кодревью первого выпускного проекта". Ребята, работы которых разбирались, были допущены ко второму проекту. Я вошел в их число, ура товарищи!
							p.article-text Что касается проекта, я выбрал макет с горами (всего макетов было четыре). Понравилась цветовая схема и, конечно же, параллакс-эффект на главной странице (да-да, это когда вы водите мышью по экрану, а разные слои гор наезжают друг на друга). Проект оказался довольно насыщенный: здесь и использование Pug, Sass, Gulp, и адаптивный дизайн без использования фреймворков, и работа с SVG, Google Maps, параллакс-эффекты, блюр-эффекты, слайдер, прелоадер, валидация форм, небольшая админка на бэкенде. К слову сказать, до обучения на курсе, я только-только освоил Gulp 3 версии, а тут пришел и услышал: "Ребята, собирать проект будем на Gulp 4, вот вам заготовка, добавьте сами пару тасков, как раз разберетесь" :) На самом деле, не все так страшно, вебинар по Gulp 4 был проведен, поэтому проблем не возникло.
							p.article-text Ну, а теперь вперед на второй проект! Он будет, ожидаемо, интересней, т. к. будет сложнее, времени будет меньше, а работа будет вестись командно (моделирование веб-студии).