extends ../_template

block variables
	- var title = 'Мои работы'

block styles
	link(rel='stylesheet' href='/assets/css/my_works.css')

block scripts
	script(src='/assets/js/validation.js' defer)
	script(src='/assets/js/contact-me.js' defer)
	script(src='/assets/js/slider.js' defer)
	script(src='/assets/js/blur.js' defer)

block content
	.main-content
		.triangle
		.title-wrapper
			.title.title_main Мои работы
			.transparent-title
				img(class="adaptive-pic" src="assets/img/works_header.png")
		.portfolio
			ul.portfolio__list
				li.portfolio__item.active
					.project-info
						.project-info-inner
							.title.title_secondary Сайт-портфолио
							.project-tools Pug, Sass, Javasсript, Jquery, Gulp 4
							a.project-link(href="http://krasnov-v.ru" target="_blank")
								svg.link-icon
									use(xlink:href="assets/img/sprite.svg#link")
								span.button-text Посмотреть сайт
					.project-image
						img.project-pic(src='assets/img/userfiles/portfolio.jpg' alt='Сайт-портфолио')
				
				li.portfolio__item
					.project-info
						.project-info-inner
							.title.title_secondary Сервис "Фотокнига"
							.project-tools Pug, Sass, Javasсript, Node.js, MongoDB, Heroku
							a.project-link(href="https://serene-beach-88499.herokuapp.com" target="_blank")
								svg.link-icon
									use(xlink:href="assets/img/sprite.svg#link")
								span.button-text Посмотреть сайт
					.project-image
						img.project-pic(src='assets/img/userfiles/photobook.jpg' alt='Сервис "Фотокнига"')

				li.portfolio__item
					.project-info
						.project-info-inner
							.title.title_secondary Newsweek clone page
							.project-tools HTML, CSS, Bootstrap
							a.project-link(href="https://htmlpreview.github.io/?https://raw.githubusercontent.com/VasiliuKr/newsweek-page/master/index.html" target="_blank")
								svg.link-icon
									use(xlink:href="assets/img/sprite.svg#link")
								span.button-text Посмотреть сайт
					.project-image
						img.project-pic(src='assets/img/userfiles/newsweek.jpg' alt='Newsweek')
					
				li.portfolio__item
					.project-info
						.project-info-inner
							.title.title_secondary The Next Web clone page
							.project-tools HTML, CSS, adaptive
							a.project-link(href="https://htmlpreview.github.io/?https://github.com/VasiliuKr/the-next-web/blob/master/index.html" target="_blank")
								svg.link-icon
									use(xlink:href="assets/img/sprite.svg#link")
								span.button-text Посмотреть сайт
					.project-image
						img.project-pic(src='assets/img/userfiles/thenextweb.jpg' alt='The Next Web')
					
				
					
			ul.slider__dots
				
			.slider__controls
				a.slider__controls-btn.slider__controls-btn_next
					svg.social-icon.social-icon_green
						use(xlink:href="assets/img/sprite.svg#arrow_down")
				a.slider__controls-btn.slider__controls-btn_prev
					svg.social-icon.social-icon_green
						use(xlink:href="assets/img/sprite.svg#arrow_down")
	.feedback-wrapper
		.feedback
			.title-wrapper
				.title.title_main Что обо мнe говорят
				.transparent-title
					img(class="adaptive-pic" src="assets/img/about_header.png")
			.feedback__reviews
				ul.reviews__list
					li.reviews__item
						blockquote.review-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
						.review-author
							.user-avatar: img.user-pic(src="assets/img/kd.jpg" alt='Дмитрий Ковальчук')
							.review-author-inner
								cite.review-author-name Ковальчук Дмитрий
								.review-author-position основатель Loftschool
					li.reviews__item
						blockquote.review-text Этот код выдержет любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
						.review-author
							.user-avatar: img.user-pic(src="assets/img/zz.jpg" alt='Зар Захаров')
							.review-author-inner
								cite.review-author-name Зар Захаров
								.review-author-position преподаватель
			.feedback__form-wrapper
				.feedback__form
				.feedback__form-inner
					.title.title_secondary Связаться со мной
					form.form#contact-me
						.input-wrapper
							input(type="text" class="form__input" name="userName" id="userName" value="" placeholder="Имя")
							.tooltip-wrapper
								.tooltip.tooltip-bottom
									span.tooltip-text Вы не ввели имя
						.input-wrapper
							input(type="email" class="form__input" name="userEmail" id="userEmail" value="" placeholder="Email")
							.tooltip-wrapper
								.tooltip.tooltip-bottom
									span.tooltip-text Вы не ввели email
						.input-wrapper
							textarea(name="message" id="message" class="form__input" cols="40" rows="6" placeholder="Ваше сообщение")
							.tooltip-wrapper
								.tooltip.tooltip-bottom
									span.tooltip-text Вы не ввели сообщение
						input(type="submit" class="form__btn form__btn_submit" value="Отправить")
						input(type="reset" class="form__btn form__btn_reset" value="Очистить")
			a.arrow-up-link(href="#")
				.arrow_up
					svg.social-icon.social-icon_white
						use(xlink:href="assets/img/sprite.svg#arrow_down")
